body {
    background: black;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#playerImage, #backgroundImage, #enemyImage , #repalyButton, #exitButton{
    display: none;
}
#game-over-message {
    z-index :1000;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}
button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}
